@import 'variables/all';

.hidden {
  display: none;
}

.form-separator {
  border-bottom: 1px solid $pinkish-grey;
  margin: 20px 0 33px;
}

.form-btn-group {
  .btn:first-child {
    margin-right: 24px;
  }
  .btn:last-of-type {
    margin-right: 0;
  }
}

.checkbox i.im.ion-minus {
  position: absolute;
  left: 3px;
  color: #fff;
  font-size: 1.5rem;
}

.align-self-center{
  align-self: center;
}