@import '../../../../node_modules/gridle/sass/gridle/gridle';
@import '../variables/variables';

@include gridle_setup( (
        context : $columns,
        gutter-width : $gutter-width,
        direction : ltr
) );

// make the use of media queries really easy
@include gridle_register_state ( mobile , (
        max-width : 480px
) );
@include gridle_register_state ( tablet , (
        min-width : 481px,
        max-width : 1024px
) ) ;

// even with full custom queries :
@include gridle_register_state ( landscape, (
        query : "(orientation : landscape)"
) );