@mixin control-lg() {
  font-size: $control-lg-fsize;
  padding: 11px 12px;
}

@mixin control-sm() {
  font-size: $control-sm-fsize;
  padding: 4px 12px;
}

@mixin control-base() {
  display: inline-block;
  vertical-align: middle;
  color: $control-color;
  padding: 7px 12px;
  outline: none;

  @include border-radius(3px);
  border: $control-border;

  .form-field-error & {
    border-color: $lipstick;
  }

  font-size: $control-default-fsize;
  line-height: 20px;
  font-family: $main-font;

  @include box-shadow(inset 0 1px 2px 0 rgba(0, 0, 0, 0.15));
  @include transition(border-color ease-in-out .15s);
}

@mixin disabled {
  background-color: $light-grey;
  cursor: $cursor-default;
  opacity: .5;

  &:hover {
    border: $control-border;
  }
}