@import "../variables/variables";
@import "../mixins/all";

.radio-group {

}

.radio {
  cursor: pointer;
  display: inline-block;
  &.disabled {
    cursor: default;
    opacity: 0.6;


  }
}
.radio-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid $radio-default-color;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  @include box-shadow(inset 0px 1px 1px rgba(0,0,0,0.15));

  &:hover {
    border: 1px solid darken($radio-default-color,10%);
  }

  &.checked {
    border: 1px solid $radio-selected-color;

    &:after {
      width: 10px;
      height: 10px;
      background-color: $radio-selected-color;
      position: absolute;
      content: '';
      font-size: 12px;
      left: 3px;
      top: 3px;
      border-radius: 50%;
      @include scale(1);
      @include transition($transition-slow);
    }

    &:hover:after {
      @include scale(1.1);
      @include transition($transition-slow);
      background-color: darken($radio-selected-color,10%);
    }

    // TODO remove hover on disabled elements

  }

}

.radio-label {
  font-size: 1.3rem;
  vertical-align: middle;
  padding-left: 7px;
}