@import '../variables/all';
@import '../mixins/all';

.text-input {
  display: inline-block;
  vertical-align: middle;

  > input {
    @include control-base;
    width: inherit;
    -webkit-font-smoothing: antialiased;

    &:focus,
    &:hover {
      border-color: $control-active-border-color;
    }
    .form-field-error & {
      border-color: $lipstick;
    }

    &.disabled {
      // todo when Konstantin will be back from vocation
    }
  }
}

.text-input--sm {
  > input {
    @include control-sm;
  }
}

.text-input--lg {
  > input {
    @include control-lg;
  }
}

.icon-input {
  position: relative;
  display: inline-block;

  .text-input {
    > input {
      padding-right: 34px;
    }
  }
  i {
    width: 34px;
    height: 100%;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    position: absolute;
    top: 0;
    right: 0;
  }
}
