@import '../variables/all';

.form-field-error {
  .textarea > textarea {
    border-color: $lipstick;
  }
}

.textarea {
  > textarea {
    width: 400px;
    height: 100px;
    padding: 12px;
    border: solid 1px $grey;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    font-size: 1.4rem;
    font-family: $main-font;
    border-radius: 3px;
    resize: none;

    &:focus,
    &:hover {
      border-color: $control-active-border-color;
    }
  }
}