.tree-select__clear-btn {
  padding: 6px 12px 6px;
}

.expand {
  width: 16px;
  display: inline-block;
  text-align: center;
  height: 26px;
  line-height: 26px;
  transition: 0.1s;
  transform: translate(-5px, 0px);
}

.expand.collapsed {
  transform: rotate(-90deg) translate(-3px, 0px);
}

.check-box-list__broken {
  text-decoration: line-through;
  color: #9b9b9b;
}

.select__popup-footer {
  padding: 5px 5px 5px 10px;
  border-top: 1px solid #e9e9e9;
}

.select__popup-header {
  clear: both;
  padding-bottom: 20px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.tree-select__popup  .popup-content-wrapper {
    padding: 0 !important;
}

.select__search-container {
  padding: 18px 18px;
}

.tree-select .check-box-list__check-box {
  padding-left: 6px;
}

.tree-select.check-box-list__item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.single-tree-select--selected {
  background-color: $tree-select__option-selected-background-color !important;
  color: $tree-select__option-selected-color !important;
}

.tree-select--inactive {
  color: grey !important;
}

.tree-select--inactive.single-tree-select--selected {
  color: #e2e2e2 !important;
}

.tree-select__label {
  line-height: 26px;
}