@import "../../variables/all";
@import "variables";

.date-picker__date-cell--selected {
  > div {
    background-color: rgba($date-selected-bgc, 0.2);
  }
}

.date-picker__date-cell--of-other-month {
  color: $mid-grey;
}

.date-picker__date-cell {
  &:not([data-disabled]) {
    &:hover {
      > div {
        background-color: $date-hover-bgc;
      }
    }
  }
}