@import "../../variables/all";

$date-selected-bgc: $light-blue;
$date-hover-bgc: $light-grey;
$date-disabled-color: $mid-grey;

$date-picker__arrow-color: $black;
$date-picker__arrow-bg-color: $light-grey;

//date picker calendar
$date-picker-calendar__weekday-cell-working-color: $black;
$date-picker-calendar__weekday-cell-non-working-color: $lipstick;
$date-picker-calendar__cell-today-color: $light-blue;
$date-picker-calendar__cell-today-shadow: 0 0 0 1px $date-picker-calendar__cell-today-color;
$date-picker-calendar__cell-hover-bg-color: rgba($light-blue, 0.6);

//date range picker
$date-range-picker__cell-between-background-color: rgba($light-blue, 0.2);
$date-range-picker__cell-selected-bg-color: $date-picker-calendar__cell-hover-bg-color;
$date-range-picker__arrow-color: $black;
$date-range-picker__arrow-bg-color: $light-grey;

$date-popup-width: 260px;