@mixin transition-scale-in-start {
  transition: transform .3s ease, opacity .3s ease;
  opacity: 0;
  transform: scale(.4);
}

@mixin transition-scale-in-end {
  opacity: 1;
  transform: scale(1);
}

@mixin transition-scale-out-start {
  transition: transform .3s ease, opacity .3s ease;
  opacity: 1;
  transform: scale(1);
}

@mixin transition-scale-out-end {
  opacity: 0;
  transform: scale(.9);
}